project_id = "your project id"
region = "us-east1"
zone    = "us-east1-b"
vm_name = "your vm name"

vpc_name    = "your vpc_name"
subnet_name = "your subnet_name"
subnet_cidr = "your subnet_cidr (10.10.10.0/24)"

firewall_name = "your firewall_name"

machine_type = "e2-medium"

disk_size = 20

image = "your os image (ubuntu-os-cloud/ubuntu-minimal-2510-amd64)"

state_bucket = "your state_bucket"

bucket_name = "your bucket_name"
